p{
  font-size: 1.1rem;
}

#gallery{
  background-color: rgb(228, 228, 228);
}

body{
  overflow-x: hidden;
}

.slick-next:before {
  font-size: 30px;
  color: black;
  content: '→';
}

.slick-prev:before {
  font-size: 30px;
  color: black;
  content: '←';
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  background-color: #702905;
}

.back-to-top:hover{
  background-color: #1E0904 ;
}

.back-to-top i{
  color: white;
}


@media only screen and (min-width: 768px) {
  #gallery{
    min-height: calc(100vh - 120px);
  }

  .kegiatan{
    height: 80vh;
  }
}