p{
  font-size: 1.1rem;
}

#gallery{
  background-color: rgb(228, 228, 228);
}

@media only screen and (min-width: 768px) {
  #gallery{
    min-height: calc(100vh - 120px);
  }

  .kegiatan{
    height: 80vh;
  }
}