  <link rel="stylesheet" href="https://dwiliandy.github.io/countdown-KTA/css/slider-galery/magnific-popup.css">
  <link rel="stylesheet" href="https://dwiliandy.github.io/countdown-KTA/css/slider-galery/jquery-ui.css">
  <link rel="stylesheet" href="https://dwiliandy.github.io/countdown-KTA/css/slider-galery/owl.carousel.min.css">
  <link rel="stylesheet" href="https://dwiliandy.github.io/countdown-KTA/css/slider-galery/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://dwiliandy.github.io/countdown-KTA/css/slider-galery/aos.css">
  <link rel="stylesheet" href="https://dwiliandy.github.io/countdown-KTA/css/slider-galery/fancybox.min.css">
  <link rel="stylesheet" href="https://dwiliandy.github.io/countdown-KTA/css/slider-galery/swiper.min.css">
  <link rel="stylesheet" href="https://dwiliandy.github.io/countdown-KTA/css/slider-galery/style.css">

<div class="row m-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="swiper-container gallery-top">
          <div class="swiper-wrapper">
              <div class="swiper-slide cover"
                  style="background-image: url('https://dwiliandy.github.io/countdown-KTA/images/gallery/1.jpg');">
                  <a href="https://dwiliandy.github.io/countdown-KTA/images/gallery/1.jpg" data-fancybox="gallery"
                      class="zoom"><i class="fas fa-search-plus"></i></a>
              </div>
              <div class="swiper-slide cover"
                  style="background-image: url('https://dwiliandy.github.io/countdown-KTA/images/gallery/2.jpg');">
                  <a href="https://dwiliandy.github.io/countdown-KTA/images/gallery/2.jpg" data-fancybox="gallery"
                      class="zoom"><i class="fas fa-search-plus"></i></a>
              </div>
              <div class="swiper-slide cover"
                  style="background-image: url('https://dwiliandy.github.io/countdown-KTA/images/gallery/3.jpg');">
                  <a href="https://dwiliandy.github.io/countdown-KTA/images/gallery/3.jpg" data-fancybox="gallery"
                      class="zoom"><i class="fas fa-search-plus"></i></a>
              </div>
              <div class="swiper-slide cover"
                  style="background-image: url('https://dwiliandy.github.io/countdown-KTA/images/gallery/4.jpg');">
                  <a href="https://dwiliandy.github.io/countdown-KTA/images/gallery/4.jpg" data-fancybox="gallery"
                      class="zoom"><i class="fas fa-search-plus"></i></a>
              </div>
              <div class="swiper-slide cover"
                  style="background-image: url('https://dwiliandy.github.io/countdown-KTA/images/gallery/5.jpg');">
                  <a href="https://dwiliandy.github.io/countdown-KTA/images/gallery/5.jpg" data-fancybox="gallery"
                      class="zoom"><i class="fas fa-search-plus"></i></a>
              </div>
          </div>
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide cover"
                style="background-image:url(https://dwiliandy.github.io/countdown-KTA/images/gallery/1.jpg)"></div>
            <div class="swiper-slide cover"
                style="background-image:url(https://dwiliandy.github.io/countdown-KTA/images/gallery/2.jpg)"></div>
            <div class="swiper-slide cover"
                  style="background-image:url(https://dwiliandy.github.io/countdown-KTA/images/gallery/3.jpg)"></div>
            <div class="swiper-slide cover"
                  style="background-image:url(https://dwiliandy.github.io/countdown-KTA/images/gallery/4.jpg)"></div>
            <div class="swiper-slide cover"
                  style="background-image:url(https://dwiliandy.github.io/countdown-KTA/images/gallery/5.jpg)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/jquery-3.3.1.min.js"></script>
<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/jquery-migrate-3.0.1.min.js"></script>
<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/jquery-ui.js"></script>
<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/popper.min.js"></script>
<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/owl.carousel.min.js"></script>
<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/jquery.countdown.min.js"></script>
<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/jquery.magnific-popup.min.js"></script>
<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/aos.js"></script>
<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/jquery.fancybox.min.js"></script>
<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/swiper.min.js"></script>
<script src="https://dwiliandy.github.io/countdown-KTA/js/slider-galery/main.js"></script>