<style>
  li{
    color: white;
  }
  p{
    font-size: 1.2rem;
  }
</style>
<section id="detail_kta" class="d-flex">
    <div class="container d-flex">
      <div class="row align-items-center py-4">
        <div class="col-md-12 text center">
          <div class="row">
            <div class="col-md-12 pt-5">
              <h1 class="text-center fw-bolder pt-4 text-white">Apa Itu Kamp Tahunan Alumni ?</h1>
              <p class="text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, distinctio
                dolorem iusto
                laborum libero id ex, consequuntur modi repellendus quae temporibus eveniet consequatur cum omnis voluptate
                ducimus debitis quaerat quisquam, deleniti inventore aperiam enim. Nobis modi, porro distinctio ipsum
                architecto
                laborum accusantium saepe quam explicabo totam necessitatibus animi, aliquid provident. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit aliquid, nihil saepe similique nobis, inventore velit incidunt repellat repellendus est quam. Voluptatum obcaecati alias sit iure labore quo, similique autem.</p>
            </div>
          </div> 
          <div class="row d-flex justify-content-around py-4">
            <div class="col-md-4 mt-5">
              <h2 class="fw-bolder text-center text-white">Tujuan</h2>
              <p class="text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quisquam
                inventore saepe quasi eius
              </p>
                <ol>
                  <li><p>Lorem ipsum dolor sit amet consectetur</p></li>
                  <li><p>Lorem ipsum dolor sit amet consectetur</p></li>
                  <li><p>Lorem ipsum dolor sit amet consectetur</p></li>
                </ol>
            </div>
            <div class="col-md-4 mt-5">
              <h2 class="fw-bolder text-center text-white">Sasaran</h2>
              <p class="text-center text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi sequi
                asperiores, ratione nesciunt sint
                reprehenderit eaque aliquid vitae vel repellendus dolor doloremque quaerat itaque nulla tenetur minus
                nemo,
                maxime tempora.
                <ol>
                  <li><p>Lorem ipsum dolor sit amet consectetur</p></li>
                  <li><p>Lorem ipsum dolor sit amet consectetur</p></li>
                  <li><p>Lorem ipsum dolor sit amet consectetur</p></li>
                </ol></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>